:root {
    --bgcolor:#0E3525;
    --hovercolor1:#274A3B;
    --hovercolor:#0E3122;
    --textcolor: #4DA56B;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

h1{
    text-align: center;
    margin-top: 0;
    font-size: 3em;
    color: white;
}

.logo {
    margin: 2rem;

}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    text-decoration: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0, 0%, 0%,0.95);
    /* backdrop-filter: blur(1rem); */
}

/* @supports (backdrop-filter: blur(1rem)){
    .primary-navigation {
        background: hsl(0, 0%, 100%,1);
        backdrop-filter: blur(1000rem);
    }

    a {
        text-decoration: none;
        color: white;
    }
} */

a {
    text-decoration: none;
    /* font-size: large;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;*/
    color: white;
    font-size: 0.8em; 
}

@media (max-width: 70em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 60%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        text-decoration: none;   
        list-style: none;
        /* font-size: 3em; */

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 9999;
            background-color: transparent;
            background-image: url(hamburger.png);
            width: 2rem;
            background-repeat: no-repeat;
            border: 0;
            aspect-ratio: 1;
            top: 1rem;
            right: 2rem;
        }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("close.png");
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    /* .testimonial {
        font-size: 5em;
    }  */
}


@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-top: 1.5rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    } 
}

body {
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgcolor);
    margin: 0;

    /* display: grid; */
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;

}





.primary-header {
    background-color: black;
}


.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-areas: 
     'one'
     'two'
     'three'
     'four'
     'five'
     'six'
     'seven'
     'eight'
     'nine';
    padding-block: 2rem;
    width: 70%;
    margin-inline: auto;
}

.testimonial:nth-child(1){
    grid-area: one;
}

.testimonial:nth-child(2){
    grid-area: two;
}

.testimonial:nth-child(3){
    grid-area: three;
}

.testimonial:nth-child(4){
    grid-area: four;
}

.testimonial:nth-child(5){
    grid-area: five;
}

.testimonial:nth-child(6){
    grid-area: six;
}

.testimonial:nth-child(7){
    grid-area: seven;
}

.testimonial:nth-child(8){
    grid-area: eight;
}

.testimonial:nth-child(9){
    grid-area: nine;
}

.testimonial {
    /* background-color: pink; */
    text-align: center;
    vertical-align: middle;
    padding-block: 50px;
    padding-left: 50px;
    padding-right: 50px; 
    font-size: 1.5em;
    color: var(--textcolor);
}

.testimonial:hover{
    background-color: var(--hovercolor);
}


.testimonial:nth-child(5) {
    min-width: 300px;
}


@media (min-width: 30em) {
    .testimonial-grid {
        grid-template-areas: 
        'one five six'
        'two five seven'
        'three five eight'
        'four five nine'
        ;
    }

    .testimonial:hover{
        background-color: var(--hovercolor);
    }

    .testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--textcolor);
        font-size: 1.5em;
        /* background-color: #0E3525; */
        /* background-color: #274A3B; */
    }

    .testimonial:hover{
        color: white;
        cursor: pointer;
    }

}

@media (max-width: 70rem) {
    .testimonial-grid {
        grid-template-areas: 
     'one'
     'two'
     'three'
     'four'
     /* 'five' */
     'six'
     'seven'
     'eight'
     'nine';
    }

    .testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--hovercolor);
        font-size: 0.9em;
        color: var(--textcolor);
    }

    h1 {
        color: white;
        font-size: 2em;
    }


    .testimonial:hover{
        color: white;
        cursor: pointer;
    }

    .primary-navigation {
        padding-block: 10em;
    }

    .testimonial:nth-child(5){
        display: none;
    }
    
}



h5 {
    text-align: center;
    color: var(--textcolor);
    margin-bottom: 0;
}

h1 {
    color: white;
}

body {
    font-family: 'Signika', sans-serif;
    font-size: 24px;
}

.img {
    background-image: url('https://images.unsplash.com/photo-1571867424488-4565932edb41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: 500px 800px;
    background-repeat: no-repeat;
}
